<div class="main-page-body">

<h2> Edit your Profile </h2>

    <%= form_with model: @profile, local: true do |f| %>
        <div class="form-group">
            <%= f.text_field :fullName, placeholder: 'Your Full Name', class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
            <%= f.date_field :DoB, class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
            <%= f.text_field :address, placeholder: 'Full Address', class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
            <%= f.text_field :city, placeholder: 'City/Town', class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
            <%= f.text_field :country, placeholder: 'Country', class: 'form-control' %>
        </div>
        <h3> Profile Picture </h3>
        <div class="side-by-side-flex">
        <div class="form-group">
            <%= f.file_field :profileImg, accept: "image/png,image/jpeg"%>  
        </div>
        <%= image_tag(@profile.profileImg, class:"product-image") %>
        </div>
        <br>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit 'Update Profile', class:"btn btn-primary" %>
        <%= link_to  "Cancel", products_path, class: "btn btn-danger" %>
    <% end %>

</div>