<div class="main-page-body">

<div class="row">

<div class="col-sm-6">
    <div class="flex-start">
        <h2 class="prod-name"> <%= @profile.fullName %> </h2>
        <span class="fancy-divider">from</span>
        <h3> <%= @profile.city %>, <%= @profile.country %></h3>
    </div>
    <p> Date of Birth: <%= @profile.DoB %> </p>
    <p> Address: <%= @profile.address %> </p>
    <p> A Loyal Member Since: <span class="badge badge-info"> <%= @profile.created_at.strftime("%F") %>  </span> </p>
</div>

<div class="col-sm-6">
    <%= image_tag(@profile.profileImg, class:"product-image") %>
</div>

</div>

<% if @isThisLoggedInUser %>
    <%= link_to "Edit Your Profile", edit_profile_path(:id => session[:userid]), class:"btn btn-primary", style:"float:right;" %>
    <p> Hey <%= @profile.fullName %>, here are you reviews: </p>
<% end %>

<% if @reviews %>

<% @reviews.each do |r| %>

<div class="card product-container">
    <div class="side-by-side-flex">
        <div class="space-around-flex">
        <strong> <h2 class="prod-name"> <%= r.authorName %> </h2> </strong>
        <span class="fancy-divider"> rated </span>
        <div class="side-by-side-flex">
            <%  (5 - r.productRating).times do |i|  %>
                <%= image_tag "loststar.png", id:"star-icon" %>
            <% end %>
            <% r.productRating.times do |i|  %>
                <%= image_tag "favourite.png", id:"star-icon" %>
            <% end %>
        </div>
        <%= link_to "View Product", product_path(r.product_id), {:class => "prod-control"} %>
        </div>
    </div>
    <p> <%= r.reviewText %> </p>
    <div class="side-by-side-flex">
        <div class="price-date-container">
        <p> Review Submitted: <%= r.created_at.strftime("%F") %> </p>
</div>
    <div class="side-by-side-flex">
        <p class="fancy-text-highlight"> <%= r.category %> </p>
        <h3 id="prod-cat"> <%= r.productName %> </h3>
    </div>

</div>
    <div class="product-controls"> 
    <span class="prod-control"> <i class="fas fa-edit"></i> <%= link_to "Edit Review", edit_review_path(:id=> r.review_id, :product_name => r.productName), class:"remove-a-tag" %> </span>
    <span class="prod-control"> <i class="fas fa-trash-alt"></i> <%= link_to "Delete Review", reviews_destory_path(:id=> r.review_id), class:"remove-a-tag" %> </span>
</div>
</div>

<% end %>

<% end %>

</div>