<div class="main-page-body">

<div class="row">

<div class="col-sm-6">
    <div class="flex-start">
        <h2 class="prod-name"> <%= @profile.fullName %> </h2>
        <span class="fancy-divider">from</span>
        <h3> <%= @profile.city %>, <%= @profile.country %></h3>
    </div>
    <p> Date of Birth: <%= @profile.DoB %> </p>
    <p> Address: <%= @profile.address %> </p>
    <p> A Loyal Member Since: <span class="badge badge-info"> <%= @profile.created_at.strftime("%F") %>  </span> </p>
</div>

<div class="col-sm-6">
    <%= image_tag(@profile.profileImg, class:"product-image") %>
</div>

</div>

</div>