<div class="main-page-body">
    <h2>Sign Up to Electroniks.</h2>
    <p> Start reviewing products yourself.</p>

    <%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: 'Enter a Username', class: 'form-control' %>
    <br>
    <%= f.password_field :password, placeholder: 'Enter a Password', class: 'form-control' %>
    <%= f.hidden_field :userType, :value => "User" %>
    <br>
    <div class="form-group">
    <%= f.submit 'Create Account', class:"btn btn-primary" %>
    <%= link_to  "Cancel", products_path, class: "btn btn-default" %>
    </div>
    <% end %>
</div>