<div class="center-no-marg">
    <p>All Reviewable Products</p>
    <p> <span class="badge badge-secondary"><%= @products.length %></span> Found </p>
</div>

<div class="card products-container">

<% @products.each do |product| %>

<div class="product-container">
    <div class="side-by-side-flex">
        <div class="space-around-flex">
        <strong> <h2 class="prod-name"> <%= product.productName %> </h2> </strong>
        <span class="fancy-divider"> by </span>
        <h3> <%= product.brandName %> </h3>
        </div>
        <h3 id="prod-cat"> <%= product.category %> </h3>
    </div>
    <p> <%= product.description %> </p>
    <p> £ <%= product.averageCost %> </p>
    <p> <%= product.dateReleased %> </p>
    <%= image_tag product.productImg %>
</div>

<% end %>
</div>