<h3> Product Details </h3>

<p> Product Name: <%= @product.productName %> </p>
<p> Brand Name: <%= @product.brandName %> </p>
<p> Average Cost: <%= @product.averageCost %> </p>
<p> Category: <%= @product.category %> </p>
<p> Date Released: <%= @product.dateReleased %> </p>
<p> description: <%= @product.description %> </p>

<p> Image: <%= @product.productImage %> </p>
