<div class="main-page-body">

<div class="product-full-container">

 <%= link_to "Write a Review", new_review_url(:product_id => @product.id, :product_name => @product.productName), {:class => "btn btn-primary"} %>
 <%= link_to "Back to Products", products_path, {:class => "btn btn-danger"} %>
    <div class="flex-start">
        <h2 class="prod-name"> <%= @product.productName %> </h2>
        <span class="fancy-divider">from</span>
        <h3> <%= @product.brandName %> </h3>
    </div>
    <p> Average Cost: <%= @product.averageCost %> </p>
    <p> Category: <%= @product.category %> </p>
    <p> Date Released: <%= @product.dateReleased %> </p>
    <p> Description: <%= @product.description %> </p>
    <%= image_tag(@product.productImg) %>
</div>

<h3> Top 3 Reviews </h3>

<% @reviews.each do |r| %>

<div class="card product-container">
    <div class="side-by-side-flex">
        <div class="space-around-flex">
        <strong> <h2 class="prod-name"> <%= r.authorName %> </h2> </strong>
        <span class="fancy-divider"> rated </span>
        <div class="side-by-side-flex">
            <%  (5 - r.productRating).times do |i|  %>
                <%= image_tag "loststar.png", id:"star-icon" %>
            <% end %>
            <% r.productRating.times do |i|  %>
                <%= image_tag "favourite.png", id:"star-icon" %>
            <% end %>
        </div>
        </div>
    </div>
    <p> <%= r.reviewText %> </p>
    <div class="side-by-side-flex">
        <div class="price-date-container">
        <p> Review Submitted: <%= r.created_at.strftime("%F") %> </p>
</div>
</div>
    <div class="side-by-side-flex">
        <%= link_to "View All #{@product.productName} Reviews", reviews_path(:product_id => @product.id, :product_name => @product.productName), {:class => "prod-control"} %>
        <h3> <%= r.city %>, <%= r.country %></h3>
    </div>
</div>
<% end %>

</div>