<div class="main-page-body">

<div class="products-container">

<div>
    <h2> All Reviews for <span class="fancy-highlight"> <%= params[:product_name] %> </span></h2>
</div>

 <%= link_to "Write a Review", new_review_url(:product_id => params[:product_id], :product_name => params[:product_name]), {:class => "btn btn-primary"} %>
 <%= link_to "Back to Products", products_path, {:class => "btn btn-danger"} %>


<% @reviews.each do |r| %>

<div class="card product-container">
    <div class="side-by-side-flex">
        <div class="space-around-flex">
        <strong> <h2 class="prod-name"> <%= r.authorName %> </h2> </strong>
        <span class="fancy-divider"> by </span>
        <h3> <%= r.productRating %> </h3>
        </div>
    </div>
    <p> <%= r.reviewText %> </p>
    <div class="side-by-side-flex">
        <div class="price-date-container">
        <p> r Release Date: <%= r.created_at %> </p>
</div>
</div>
</div>
<% end %>

</div>
</div>