<div class="main-page-body">

<div class="products-container">

<div>
    <h2> All Reviews for <span class="fancy-highlight"> <%= params[:product_name] %> </span></h2>
</div>

 <%= link_to "Write a Review", new_review_url(:product_id => params[:product_id], :product_name => params[:product_name]), {:class => "btn btn-primary"} %>
 <%= link_to "Back to Products", products_path, {:class => "btn btn-danger"} %>


<% @reviews.each do |r| %>

<div class="card product-container">
    <div class="side-by-side-flex">
        <div class="space-around-flex">
        <strong> <h2 class="prod-name"> <%= r.authorName %> </h2> </strong>
        <span class="fancy-divider"> rated </span>
        <div class="side-by-side-flex">
            <%  (5 - r.productRating).times do |i|  %>
                <%= image_tag "loststar.png", id:"star-icon" %>
            <% end %>
            <% r.productRating.times do |i|  %>
                <%= image_tag "favourite.png", id:"star-icon" %>
            <% end %>
        </div>
        </div>
    </div>
    <div class="space-around-flex">
        <p> <%= r.reviewText %> </p>
        <%= image_tag @product.productImg %>
    </div>
    <div class="side-by-side-flex">
        <div class="price-date-container">
        <p> Review Submitted: <span class="badge badge-info"> <%= r.created_at.strftime("%F") %> </span> </p>
</div>
</div>
    <div class="product-controls"> 
    <%= link_to "View Review", "reviews/#{r.id}", {:class => "prod-control"} %>
</div>
</div>
<% end %>

</div>
</div>