<div class="product-full-container">
    <p> Review Posted: <span class="badge badge-info"> <%= @review.created_at.strftime("%F") %>  </span> </p>
    <div class="flex-space-between">
        <h2 class="prod-name"> <%= @review.authorName %> </h2>
            <div class="side-by-side-flex">
            <%  (5 - @review.productRating).times do |i|  %>
            <%= image_tag "loststar.png", id:"star-icon" %>
        <% end %>
        <% @review.productRating.times do |i|  %>
            <%= image_tag "favourite.png", id:"star-icon" %>
        <% end %>
    </div>
    </div>

    <p> <%= @review.reviewText %> </p>
</div>