<!DOCTYPE html>
<html>
  <head>
    <title>Electroniks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark">
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Create Account", "/users/new", class:"dropdown-item" %>
      <%= link_to "Log In", "/sessions/new", class:"dropdown-item" %>
      <%= link_to "View My Reviews", "/users/new", class:"dropdown-item" %>
      <%= link_to "View My Profile", "/users/new", class:"dropdown-item" %>
      <%= link_to "Edit My Profile", "/users/new", class:"dropdown-item" %>
    </div>
  </li>
  <li class="nav-item nav-link">
    <a id="nav-username"> <%= current_user %> </a>
  </li>
  </nav>

  <div class="logoContrainer">
    <%= image_tag "logo.jpg" %>
  </div>
  <nav class="navbar navbar-dark bg-dark">
  <li class="nav-item nav-link">
    <%= link_to "Home", "/" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Products", "/products" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "About Us", "/static_pages/aboutus" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Contact Us", "/static_pages/contactus" %>
  </li>

</nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
