<!DOCTYPE html>
<html>
  <head>
    <title>Electroniks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="logoContrainer">
    <%= image_tag "logo.jpg" %>
  </div>
  <nav class="navbar navbar-dark bg-dark">
  <li class="nav-item nav-link">
    <%= link_to "Home", "/" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Products", "/static_pages/products" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "About Us", "/static_pages/aboutus" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Contact Us", "/static_pages/contactus" %>
  </li>
</nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
