<!DOCTYPE html>
<html>
  <head>
    <title>Electroniks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/6f1c2e5634.js" crossorigin="anonymous"></script>
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark" >
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Create Account", "/users/new", class:"dropdown-item" %>
        <%= link_to "Log Out", "/sessions/destroy", class:"dropdown-item" %>
        <%= link_to "Log In", "/sessions/new", class:"dropdown-item" %>
      <%= link_to "View My Reviews", "/users/new", class:"dropdown-item" %>
      <%= link_to "View My Profile", "/profiles/show", class:"dropdown-item" %>
      <%= link_to "Edit My Profile", "/profiles/edit", class:"dropdown-item" %>
    </div>
  </li>
  <li class="nav-item nav-link">
    <a id="nav-username"> <%= session[:username] %> </a>
  </li>
  </nav>

  <div class="logoContrainer">
    <%= image_tag "logo.jpg" %>
  </div>
  <nav class="navbar navbar-dark bg-dark" id="main-nav">
  <li class="nav-item nav-link">
    <%= link_to "Home", "/" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Products", "/products" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "About Us", "/static_pages/aboutus" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Contact Us", "/static_pages/contactus" %>
  </li>

</nav>

  <%= yield %>
  <nav class="navbar navbar-dark bg-dark" id="bottom-nav">
    <div class="col-sm-5" id="bottom-nav-links">
      <li class="bottom-nav-title-container">
        <h4 class="bottom-nav-title"> MENU LINKS </h4>
      </li>
          <ul>
      <li class="nav-item nav-link">
        <%= link_to "Home", "/" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Products", "/products" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "About Us", "/static_pages/aboutus" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Contact Us", "/static_pages/contactus" %>
      </li>
    </ul>
    </div>

    <div class="col-sm-5" id="bottom-nav-links">
      <li class="bottom-nav-title-container">
        <h4 class="bottom-nav-title"> ACCOUNT OPTIONS </h4>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Home", "/" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Products", "/products" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "About Us", "/static_pages/aboutus" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Contact Us", "/static_pages/contactus" %>
      </li>
    
    </div>
        <div class="col-sm-2">
          
      <p id="bottom-nav-tagline"> Rate The Latest Tech. <p>
    
    </div>
  </nav>
  
  
  
  </body>
</html>
