<!DOCTYPE html>
<html>
  <head>
    <title>Electroniks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/6f1c2e5634.js" crossorigin="anonymous"></script>
  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark" >
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Account
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <% if current_user == false %>
      <%= link_to "Create Account", "/users/new", class:"dropdown-item" %>
      <%= link_to "Log In", "/sessions/new", class:"dropdown-item" %>
      <% end %>
      <% if current_user %>
        <%= link_to "Log Out", "/sessions/destroy", class:"dropdown-item" %>
      <%= link_to "View My Reviews", "/users/new", class:"dropdown-item" %>
      <%= link_to "View My Profile", "/profiles/show", class:"dropdown-item" %>
      <%= link_to "Edit My Profile", edit_profile_path(:id => session[:userid]), class:"dropdown-item" %>
      <% end %>
    </div>
  </li>
  <li class="nav-item nav-link">
    <a id="nav-username"> <%= session[:username] %> </a>
  </li>
  </nav>

  <div class="logoContrainer">
    <%= image_tag "logo.jpg" %>
  </div>
  <nav class="navbar navbar-dark bg-dark" id="main-nav">
  <li class="nav-item nav-link">
    <%= link_to "Home", "/" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Products", "/products" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Community", "/profiles" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "About Us", "/aboutus" %>
  </li>
  <li class="nav-item nav-link">
    <%= link_to "Contact Us", "/contactus" %>
  </li>

</nav>

  <%= yield %>
  <nav class="navbar navbar-dark bg-dark" id="bottom-nav">
    <div class="col-sm-6" id="bottom-nav-links">
      <li class="bottom-nav-title-container">
        <h4 class="bottom-nav-title"> MENU LINKS </h4>
      </li>
          <ul>
      <li class="nav-item nav-link">
        <%= link_to "Home", "/" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Products", "/products" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "About Us", "/aboutus" %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Contact Us", "/contactus" %>
      </li>
    </ul>
    </div>

    <div class="col-sm-6" id="bottom-nav-links">
      <li class="bottom-nav-title-container">
        <h4 class="bottom-nav-title"> ACCOUNT OPTIONS </h4>
      </li>
      <div class="side-by-side-flex">
              <li class="nav-item nav-link">
      <%= link_to "Create Account", "/users/new" %>
      </li>
        <li class="nav-item nav-link">
        <% if current_user %>
          <%= link_to "Log Out", "/sessions/destroy" %>
        <% end %>
        </li>
        <li class="nav-item nav-link">
        <%= link_to "Log In", "/sessions/new" %>
        </li>
      </div>
      <div class="side-by-side-flex">
      <li class="nav-item nav-link">
      <%= link_to "View My Reviews", "/users/new" %>
      </li>
      <li class="nav-item nav-link">
      <%= link_to "View My Profile", "/profiles/show" %>
      <% if current_user %>
        <%= link_to "View Profile", "#{profiles_path}/#{session[:userid]}" %>
      <% end %>
      </li>
      <li class="nav-item nav-link">
      <% if current_user %>
        <%= link_to "Edit My Profile", edit_profile_path(:id => session[:userid]) %>
      <% end %>
      </li>
      </div>
    
    </div>
    <div class="row">
    <div class="col-sm-12">
    <hr />
      <p id="copy-right-credits"> © Electroniks 2020</p>
    </div>
    </div>
  </nav>
  </body>
</html>
